<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
      
      <div class="col-6 offset-3">
         <br> 
         <h3>  Create a New Listing</h3>
      <form action="/listings" class="needs-validation" method="post" novalidate enctype="multipart/form-data">
         <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input type="text" name="title" placeholder="Add a title" class="form-control" required>

            <div class="valid-feedback">
               Tittle looks good!
            </div>
         </div>
       
         <div class="mb-3">
            <label for="description" class="form-label"> Description</label>
            <textarea name="description" placeholder="enter description"  class="form-control" required></textarea>
            <div class="invalid-feedback">
                   enter short description!
                    </div>
         </div>
   
         

           <div class="mb-3">
            <label for="image" class="form-label"> Uplode  Listing Image</label>
            <input type="file" name="image"  class="form-control" required>
            
              <div class="invalid-feedback">
                   image   should be valid!
                    </div>
         </div>
         


         
         <div class="row">
            <div class="mb-3 col-md-4">   
               <label for="price" class="form-label"> Price</label>
               <input type="number" name="price" placeholder="enter price" class="form-control" required>
             
                <div class="invalid-feedback">
              price should be valid!
            </div>

            </div>
      
      
            <div class="mb-3 col-md-8">
                    <label for="location" class="form-label"> Location</label>
                    <input type="text" name="location" placeholder="enter location" class="form-control"required>
                 
                     <div class="invalid-feedback">
                   location  should be valid!
                    </div>
                    
            </div>
         </div>
         
         <div class="mb-3">
               <label for="country" class="form-label">Country</label>
                <input type="text" name="country" placeholder="enter country" class="form-control" required>

                  <div class="invalid-feedback">
                   country  should be valid!
                    </div>
         </div>
      
      <button class="btn btn-dark add-btn">Add</button>
    
      </form>
   </div>
    </div>
  
</body>
